html {
  margin: 0;
  font-family: "K2D", "Lexend Deca", "Helvetica Neue", "Helvetica", sans-serif;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 3vw;
}
header h1{
  margin: 0;
}
header h1 a {
  color: rgba(65, 65, 65, 0.986);
  text-decoration: none;
  font-size: 1.6em;
  font-weight: 100;
  
}
header nav {
  margin-left: auto;
  margin-right: 5vw;

  font-size: 1.2em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li + li {border-left: 1px solid;}

ul li {
  float: left;
}

ul li a {
  display: inline-block;
  color: rgba(28, 28, 28, 0.605);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  color:rgb(163, 47, 12);
  font-weight: bolder;
}

nav ul li.activeNav a {
  color:rgb(163, 47, 12);
  background-color: white;
}



.content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    display: block;
    
}
.content-wrapper::before {
  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  display: flex;
  flex: 1;
  object-fit: cover;
    width: 100vw;
  height: 37vw;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slideshow-container ::after{
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px  inset;

}

.slideshow-container img, 
.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  max-width: none;

}


/* hides the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: rgba(53, 53, 53, 0.986);
  background-color: rgba(255, 255, 255, 0.605);
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: rgba(255, 255, 255, 0.605);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(53, 53, 53, 0.986);

  border-radius: 50%;

  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
    width: 18px;
    height: 18px;
  background-color: #31313100;
    border-width: 5px;
  border-style: solid;
    border-color: rgba(53, 53, 53, 0.986);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.about-me {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 30px -18px inset;
  padding: 5vh 5vw;
  display:inline-flex;
  align-items: center;
  justify-content:flex-start
}

.about-me img {
  width: auto;
  height: 60vh;
  object-fit: contain;
  max-width: none;
}

.about-me p{
  font-size: 1.5em;
}

.about-me-text{
  margin: 40px;
}

.contact-form{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 30px -18px inset;
  padding: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  width: 30vw;
}
label {
  display: block;
  font-size: 1.2em;
  color: rgba(65, 65, 65, 0.986);
}

input[type=text], select {
  margin-top: 10px;
  padding: 8px;
  padding-top: 20px;
  width: 100%;
  display: inline-block;
  border: none;
  border-bottom: 1px solid rgba(65, 65, 65, 0.986);
  box-sizing: border-box;
  font-size: 1em;
}
input[type=subject], input[type=email], select {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  padding-top: 20px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid rgba(65, 65, 65, 0.986);
  box-sizing: border-box;
 font-size: 1em;
}
textarea[id=message], select {
  width: 0;
  height: 100px;
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  padding-top: 20px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid rgba(65, 65, 65, 0.986);
  box-sizing: border-box;
 font-size: 1em;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type=submit] {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 14px;
  margin: 8px 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-top: 1px solid rgba(65, 65, 65, 0.986);
  border-bottom: 1px solid rgba(65, 65, 65, 0.986);
  cursor: pointer;
  font-size: 1.2em;
  width: 30%;

}

input[type=submit]:hover {
  background-color: rgb(163, 47, 12);
  color: white;
}

.req-fields {
  font-size: 0.9em;
  color: rgb(94, 94, 94);
  margin-bottom: 30px;
}

.illustrations-grid {
  display: grid;
  width: 100%;
  height: auto;
   grid-template-columns: repeat(20, fr);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 10px;
    justify-content: center;
}

.illustrations-grid img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}